name: Build and deploy App to Servitro VPS - homeview-backend

on:
    # push:
    #     branches:
    #         - main
    workflow_dispatch:

jobs:
    build_and_deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: read #This is required for actions/checkout

        steps:
            - uses: actions/checkout@v4

            - name: Set up Node.js version
              uses: actions/setup-node@v3
              with:
                  node-version: '22.x'

            - name: Clean Install (has postinstall prisma generate)
              run: |
                  npm ci # --prefer-offline --no-audit
                  npx prisma generate

            - name: Build App
              env:
                  DATABASE_URL: ${{ secrets.DATABASE_URL }}
              run: npm run build

            - name: Tests
              run: npm run test --if-present

            - name: Create Deployment Artifact (Compress files)
              # Create a tarball containing only necessary files/folders
              run: |
                  tar -czvf homeview-backend-artifact.tar.gz \
                  --ignore-failed-read \
                  --exclude='./.git' \
                  --exclude='./dist' \
                  --exclude='./jest.config.ts' \
                  --exclude='./tsconfig.json' \
                  --exclude='./coverage' \
                  --exclude='./node_modules' \
                  .

            - name: Copy Artifact to VPS via SCP
              uses: appleboy/scp-action@v0.1.7
              with:
                  host: ${{ secrets.SERVITRO_HOST }}
                  username: ${{ secrets.SERVITRO_USERNAME }}
                  key: ${{ secrets.SERVITRO_PRIVATE_KEY }}
                  source: 'homeview-backend-artifact.tar.gz'
                  # Transfer the file to a temporary location on the VPS
                  target: '/tmp'

            - name: (debug) Upload artifact to check contents
              uses: actions/upload-artifact@v4
              with:
                  name: homeview-backend-artifact
                  path: 'homeview-backend-artifact.tar.gz'

            - name: Deploy and Reload via SSH
              uses: appleboy/ssh-action@v1.0.3
              with:
                  host: ${{ secrets.SERVITRO_HOST }}
                  username: ${{ secrets.SERVITRO_USERNAME }}
                  key: ${{ secrets.SERVITRO_PRIVATE_KEY }}
                  script: |
                      APP_DIR="/var/www/homeview-backend"
                      ARTIFACT="/tmp/homeview-backend-artifact.tar.gz"

                      # 1. Navigate to the application directory
                      cd $APP_DIR

                      # 2. Extract the new files, overwriting the old ones
                      # The --strip-components=1 flag is often used if the tarball was made from a subdirectory
                      tar -xzvf $ARTIFACT

                      # 3. Clean up the temporary artifact file
                      rm $ARTIFACT

                      # 4. npm clean install, build again
                      npm ci # --production
                      npm run build
                      npx prisma generate

                      # 5. migrate prisma changes
                      npx prisma migrate deploy

                      # 6. Zero-Downtime PM2 Reload
                      # Reloads the process using the newly extracted files
                      pm2 reload ecosystem.config.js --update-env
