name: Build and deploy App to Servitro VPS - homeview-backend

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    build_and_deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: read #This is required for actions/checkout

        steps:
            - uses: actions/checkout@v4

            - name: Set up Node.js version
              uses: actions/setup-node@v3
              with:
                  node-version: '22.x'

            - name: Clean Install
              run: npm ci # --prefer-offline --no-audit

            - name: Build App
              env:
                  DATABASE_URL: ${{ secrets.DATABASE_URL }}
              run: npm run build

            - name: Tests
              run: npm run test --if-present

            - name: Deploy database migrations
              if: success()
              env:
                  DATABASE_URL: ${{ secrets.DATABASE_URL }}
              run: npx prisma migrate deploy

            - name: Create Deployment Artifact (Compress dist)
              run: |
                  tar -czvf homeview-backend-dist.tar.gz \
                  dist \
                  generated \
                  package.json \
                  package-lock.json

            - name: Copy Artifact to VPS via SCP
              uses: appleboy/scp-action@v0.1.7
              with:
                  host: ${{ secrets.SERVITRO_HOST }}
                  username: ${{ secrets.SERVITRO_USERNAME }}
                  key: ${{ secrets.SERVITRO_PRIVATE_KEY }}
                  source: 'homeview-backend-dist.tar.gz'
                  # Transfer the file to a temporary location on the VPS
                  target: '/tmp'

            - name: Deploy and Reload via SSH
              uses: appleboy/ssh-action@v1.0.3
              with:
                  host: ${{ secrets.SERVITRO_HOST }}
                  username: ${{ secrets.SERVITRO_USERNAME }}
                  key: ${{ secrets.SERVITRO_PRIVATE_KEY }}
                  script: |
                      APP_DIR="/var/www/homeview-backend"
                      ARTIFACT="/tmp/homeview-backend-dist.tar.gz"

                      # 1. Navigate to the application directory
                      cd $APP_DIR

                      # 2. Extract the new files, overwriting the old ones
                      tar -xzvf $ARTIFACT

                      # 3. Clean up the temporary artifact file
                      rm $ARTIFACT

                      # 4. npm clean install, build again
                      npm ci --production

                      # 5. Zero-Downtime PM2 Reload
                      # Reloads the process using the newly extracted files
                      pm2 reload ../homeview-backend-config/ecosystem.config.js --update-env
