name: Experimental

on:
    # push:
    #     branches:
    #         - main
    workflow_dispatch:

jobs:
    build_and_deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: read #This is required for actions/checkout

        steps:
            - uses: actions/checkout@v4

            - name: Set up Node.js version
              uses: actions/setup-node@v3
              with:
                  node-version: '22.x'

            - name: Clean Install (has postinstall prisma generate)
              run: npm ci # --prefer-offline --no-audit

            - name: Build App
              env:
                  DATABASE_URL: ${{ secrets.DATABASE_URL }}
              run: npm run build

            - name: Tests
              run: npm run test --if-present

            - name: Deploy database migrations
              if: success()
              env:
                  DATABASE_URL: ${{ secrets.DATABASE_URL }}
              run: npx prisma migrate deploy

            - name: List artifact contents (debug)
              run: ls -R ./dist

            - name: Deploy to VPS
              uses: nogsantos/scp-deploy@master
              with:
                src: ./dist/*
                host: ${{ secrets.SERVITRO_HOST }}
                remote: /var/www/homeview-backend
                user: ${{ secrets.SERVITRO_USERNAME }}
                key: ${{ secrets.SERVITRO_PRIVATE_KEY }}

            - name: Deploy to Servitro
              uses: appleboy/ssh-action@master
              with:
                host: ${{ secrets.SERVITRO_HOST }}
                user: ${{ secrets.SERVITRO_USERNAME }}
                key: ${{ secrets.SERVITRO_PRIVATE_KEY }}
                script: |
                  cd /var/www/homeview-backend 
                  
                  ./.scripts/deploy.sh
